<ion-header>
  <ion-navbar [ngClass]="{'toolbar-pro': currentProfile && currentProfile.type === 'pro', 'toolbar-consumer': currentProfile && currentProfile.type === 'consumer'}">
    <ion-title>Address</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h5 *ngIf="!edit && currentProfile.type === 'consumer'">What's your phone number?</h5>
  <h5 *ngIf="!edit && currentProfile.type === 'pro'">What's your business phone number?</h5>
  <h5 *ngIf="edit" class="colored-text">Does this need to change?</h5>

  <form #f="ngForm" [formGroup]="phoneNumberForm" (ngSubmit)="finishForm()">
    <ion-item>
      <ion-label floating class="colored-text">Phone Number</ion-label>
      <ion-input type="tel" class="colored-text" formControlName="phoneNumber"></ion-input>
    </ion-item>

    <div>
      <button *ngIf="!edit" type="submit" ion-button full>Finish</button>
      <button class="pretty-button" *ngIf="edit" type="submit">Update</button>
    </div>
  </form>
</ion-content>
