page-login {
  h1 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  @media (max-width: 340px) {
    .logo-img {
      padding-top:10%;
      padding-bottom:15%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 70%;
    }
  }

  @media (min-width: 341px) {
    .logo-img {
      padding-top:15%;
      padding-bottom:20%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 75%;
    }
  }

  .center {
    margin: auto;
    text-align: center;
    padding-top: 20px;
  }

  .link {
    color: white;
    font-size: 110%
  }
}
