page-login {
  .login-background {
    background: linear-gradient(#FF5232 , #FF265A);
    color: white;
  }

  h1 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  ion-item {
    color: white !important;
    background-color: transparent !important;
  }

  ion-item .item-inner {
    border-bottom-color: white !important;
  }

  ion-icon {
    position: absolute;
    top: 2px;
  }

  .text-input::-moz-placeholder {
    text-indent: 30px;
  }

  .text-input:-ms-input-placeholder {
    text-indent: 30px;
  }

  .text-input::-webkit-input-placeholder {
    text-indent: 30px;
  }

  input {
    text-indent: 30px;
  }

  .sign-in-button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: transparent;
    color: white;
    font-size: 140%;
  }

  @media (max-height: 740px) {
    .logo-img {
      padding-top:20%;
      padding-bottom:25%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 48%;
    }

    .sign-up-link {
      text-align: center;
      position: relative;
      top: 18%;
    }
  }

  @media (min-height: 741px) {
    .logo-img {
      padding-top:20%;
      padding-bottom:20%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 36%;
    }

    .sign-up-link {
      text-align: center;
      position: relative;
      top: 2%;
    }
  }

  .link {
    color: white;
    font-size: 110%
  }
}
