page-login {
  h1 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  .logo-img {
    padding-top:10%;
    padding-bottom:10%;
    max-width: none;
    text-align: center;
    margin: auto;
    width: 100%;
  }

  .center {
    margin: auto;
    text-align: center;
    padding-top: 40px;
  }
}
