page-job-details {
  .center {
    text-align: center;
  }

  .sub-heading {
    position: relative;
    top: 14px;
  }

  .bottom-button {
    padding: $content-padding;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .alert {
    color: #FF9500;
  }

  @media (max-width: 340px) {
    .page-content-78 {
      overflow-y: scroll;
      height: 50%;
    }

    .page-content-66 {
      overflow-y: scroll;
      height: 66%;
    }

    .page-content-76 {
      overflow-y: scroll;
      height: 76%;
    }
  }

  @media (min-width: 341px) {
    .page-content-one {
      overflow-y: scroll;
      height: 73%;
    }

    .page-content-consumer {
      overflow-y: scroll;
      height: 80%;
    }
  }
}
