page-job-details {
  .center {
    text-align: center;
  }

  .sub-heading {
    position: relative;
    top: 14px;
  }

  .bottom-button {
    padding: $content-padding;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .alert {
    color: #FF9500;
  }

  .username {
    font-size: 80%;
    color: #006eff;
    position: relative;
    top: 40%;
  }

  ion-col {
    padding: 0px !important;
  }

  .job-title {
    font-size: 125%;
  }

  .faded {
    color: grey;
    font-size: 90%;
  }

  .right-side {
    float: right;
  }

  .banner-button {
    float: right;
  }

  .banner-pending {
    background-color: darkorange;
  }

  .q-a {
    border: 1px solid lightgrey;
    padding-left: 2%;
    padding-right: 2%;
  }

  .question {
    font-weight: 500;
  }

  .searchbar-ios {
    min-height: 0px;
    border-bottom: 1px solid lightgrey;
    background: transparent !important;
  }

  .list-ios {
    margin: 0px 0px 5px 0;
  }
}
