<ion-header>
  <ion-navbar>
    <ion-title>
      Job Details
    </ion-title>
    <ion-buttons *ngIf="currentProfile.type === 'consumer'" end>
      <div class="nav-button-right">
        <button color="danger" ion-button (click)="deleteJob()">
          Delete
        </button>
      </div>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>{{selectedJob.request.title}}</h3>
  <span *ngIf="currentProfile.type === 'pro' && selectedJob.distance" style="float: right">{{selectedJob.distance}} miles from you</span>
  <span>{{selectedJob._service.name}}</span>
  <h5 *ngIf="currentProfile.type === 'pro' && selectedJob.bids.length > 0">Your bid: ${{selectedJob.bids[0].amount}}</h5>
  <h5 *ngIf="currentProfile.type === 'consumer' && winningBid">Your selected bid: ${{winningBid.amount}}</h5>

  <div [ngClass]="determineClass()">
    <h5 class="sub-heading">Job Description</h5>
    <p class="description">
      {{selectedJob.request.description}}
    </p>

    <ion-searchbar *ngIf="questions && questions.length > 0" (ionInput)="filterQuestions($event)"></ion-searchbar>
    <ion-list>
      <button ion-item (click)="viewQuestion(question)" *ngFor="let question of questions">
        <h5>Q: {{question.question}}</h5>
        <h5>
          <ion-icon *ngIf="currentProfile.type === 'consumer' && !question.answer" class="alert" isActive="false" name="warning" item-left></ion-icon>
          A: {{question.answer}}
        </h5>
      </button>
      <button *ngIf="currentProfile.type === 'pro' && !historical" ion-button full (click)="askQuestion(selectedJob.id)">Ask Question
      </button>
    </ion-list>
  </div>

  <div *ngIf="!historical">
  <div *ngIf="currentProfile.type === 'pro'" class="bottom-button">
    <button *ngIf="selectedJob.acceptedBid" ion-button full (click)="viewCustomerDetails()">View Customer Profile</button>
    <button *ngIf="selectedJob.acceptedBid && !selectedJob.proMarkedComplete" ion-button full (click)="markJobComplete()">Mark Job Complete</button>
    <button *ngIf="selectedJob.acceptedBid && selectedJob.proMarkedComplete" ion-button full (click)="leaveReview()" [attr.disabled]="selectedJob.consumerLeftFeedback ? null : ''">Review Consumer</button>
    <button *ngIf="selectedJob.bids.length > 0 && !selectedJob.acceptedBid" ion-button full color="danger" (click)="deleteBid(selectedJob)">Delete Bid</button>
    <button *ngIf="selectedJob.bids.length === 0" ion-button full (click)="placeBid(selectedJob)">Place Bid</button>
  </div>

  <div *ngIf="currentProfile.type === 'consumer'" class="bottom-button">
    <button *ngIf="!selectedJob.acceptedBid" ion-button full (click)="viewBids(selectedJob)">View bids ({{selectedJob.bids.length}})</button>
    <button *ngIf="selectedJob.acceptedBid" ion-button full (click)="viewProDetails(selectedJob)">View Pro Profile</button>
    <button *ngIf="selectedJob.acceptedBid  && !selectedJob.consumerLeftFeedback" ion-button full (click)="confirmJobComplete()" [attr.disabled]="selectedJob.proMarkedComplete ? null : ''">Confirm Job Complete</button>
    <button *ngIf="selectedJob.acceptedBid && selectedJob.consumerLeftFeedback" ion-button full disabled>Transferring Funds</button>
  </div>
  </div>
</ion-content>
