<ion-tabs #tabs selectedIndex="{{landingTabNumber}}">
  <div *ngIf="profile && profile.type === 'consumer'">
    <ion-tab [root]="tab1Root" tabTitle="Find a Pro" tabIcon="ios-people"></ion-tab>
    <ion-tab [root]="tab2Root" [tabBadge]="newBids" tabTitle="Job Requests" tabIcon="ios-archive"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="Hired Jobs" tabIcon="ios-briefcase"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="Profile" tabIcon="ios-person"></ion-tab>
  </div>
  <div *ngIf="profile && profile.type === 'pro'">
    <ion-tab [root]="tab1Root" tabTitle="Find Jobs" tabIcon="ios-search"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Manage Bids" tabIcon="ios-filing"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="Hired Jobs" tabIcon="ios-briefcase"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="Profile" tabIcon="ios-person"></ion-tab>
  </div>
</ion-tabs>
