page-stripe-tos {
  .bottom-button {
    padding: $content-padding;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .page-content {
    overflow-y: scroll;
    height: 77%;
  }
}
