<ion-header>
  <ion-navbar class="toolbar-consumer">
    <ion-title>
      Credit Card
    </ion-title>
    <ion-buttons end>
      <div class="nav-button-right">
        <button ion-button (click)="updateCard()">
          Update
        </button>
      </div>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="creditCards">
    <ion-list>
      <ion-item *ngFor="let card of creditCards">
        <h5 class="colored-text">{{card.brand}}</h5>
        <p class="colored-text">xxxx-xxxx-xxxx-{{card.last4}}</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
