<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      User Profile
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="profile_pic">
    <ion-icon name="contact"></ion-icon>
  </div>

  <p class="center">Profile Completion</p>
  <progress-bar [progress]="loadProgress"></progress-bar>

  <ion-list no-lines>
    <div *ngIf="tosProgress === 2">
      <ion-item>
        <ion-icon name="checkmark-circle" class="complete" item-left></ion-icon>
        <button ion-item disabled (click)="displayTOSForms()">Accept Terms of Service</button>
      </ion-item>
    </div>

    <div *ngIf="tosProgress < 2">
      <ion-item>
        <button ion-item (click)="displayTOSForms()">Accept Terms of Service</button>
      </ion-item>
    </div>

    <div *ngIf="personalInfoProgress === 2">
      <ion-item>
        <ion-icon name="checkmark-circle" class="complete" item-left></ion-icon>
        <button ion-item disabled (click)="displayPersonalInfoForms()">Provide Personal Info</button>
      </ion-item>
    </div>

    <div *ngIf="personalInfoProgress === 1">
      <ion-item>
        <ion-icon name="code-working" class="in-progress" item-left></ion-icon>
        <button ion-item (click)="displayPersonalInfoForms()">Provide Personal Info</button>
      </ion-item>
    </div>

    <div *ngIf="personalInfoProgress === 0 && tosProgress < 2">
      <ion-item>
        <button ion-item disabled (click)="displayPersonalInfoForms()">Provide Personal Info</button>
      </ion-item>
    </div>

    <div *ngIf="personalInfoProgress === 0 && tosProgress === 2">
      <ion-item>
        <button ion-item (click)="displayPersonalInfoForms()">Provide Personal Info</button>
      </ion-item>
    </div>

    <div *ngIf="currentProfile && currentProfile.type === 'pro'">
      <div *ngIf="businessInfoProgress === 2">
        <ion-item>
          <ion-icon name="checkmark-circle" class="complete" item-left></ion-icon>
          <button ion-item disabled (click)="displayBusinessInfoForms()">Provide Business Info</button>
        </ion-item>
      </div>

      <div *ngIf="businessInfoProgress === 1">
        <ion-item>
          <ion-icon name="code-working" class="in-progress" item-left></ion-icon>
          <button ion-item (click)="displayBusinessInfoForms()">Provide Business Info</button>
        </ion-item>
      </div>

      <div *ngIf="businessInfoProgress === 0 && personalInfoProgress < 2">
        <ion-item>
          <button ion-item disabled (click)="displayBusinessInfoForms()">Provide Business Info</button>
        </ion-item>
      </div>

      <div *ngIf="businessInfoProgress === 0 && personalInfoProgress === 2">
        <ion-item>
          <button ion-item (click)="displayBusinessInfoForms()">Provide Business Info</button>
        </ion-item>
      </div>

      <div *ngIf="bankAccountInfoProgress === 2">
        <ion-item>
          <ion-icon name="checkmark-circle" class="complete" item-left></ion-icon>
          <button ion-item disabled (click)="displayBankInfoForms()">Link Bank Account</button>
        </ion-item>
      </div>

      <div *ngIf="bankAccountInfoProgress === 1">
        <ion-item>
          <ion-icon name="code-working" class="in-progress" item-left></ion-icon>
          <button ion-item (click)="displayBankInfoForms()">Link Bank Account</button>
        </ion-item>
      </div>

      <div *ngIf="bankAccountInfoProgress === 0 && businessInfoProgress < 2">
        <ion-item>
          <button ion-item disabled (click)="displayBankInfoForms()">Link Bank Account</button>
        </ion-item>
      </div>

      <div *ngIf="bankAccountInfoProgress === 0 && businessInfoProgress === 2">
        <ion-item>
          <button ion-item (click)="displayBankInfoForms()">Link Bank Account</button>
        </ion-item>
      </div>
    </div>

    <div *ngIf="currentProfile && currentProfile.type === 'consumer'">
      <div *ngIf="paymentInfoProgress === 2">
        <ion-item>
          <ion-icon name="checkmark-circle" class="complete" item-left></ion-icon>
          <button ion-item disabled (click)="displayPaymentInfoForms()">Setup Payment Info</button>
        </ion-item>
      </div>

      <div *ngIf="paymentInfoProgress === 1">
        <ion-item>
          <ion-icon name="code-working" class="in-progress" item-left></ion-icon>
          <button ion-item (click)="displayPaymentInfoForms()">Setup Payment Info</button>
        </ion-item>
      </div>

      <div *ngIf="paymentInfoProgress === 0 && personalInfoProgress < 2">
        <ion-item>
          <button ion-item disabled (click)="displayPaymentInfoForms()">Setup Payment Info</button>
        </ion-item>
      </div>

      <div *ngIf="paymentInfoProgress === 0 && personalInfoProgress === 2">
        <ion-item>
          <button ion-item (click)="displayPaymentInfoForms()">Setup Payment Info</button>
        </ion-item>
      </div>
    </div>
  </ion-list>
</ion-content>
