<ion-header>
  <ion-navbar>
    <ion-title>
      User Profile
    </ion-title>
    <ion-buttons end>
      <div class="nav-button-right">
        <button ion-button (click)="logoutServer()">
          Logout
        </button>
      </div>
    </ion-buttons>
    <ion-buttons start>
      <div *ngIf="user && user.profiles && user.profiles.length > 1" class="nav-button-left">
        <button ion-button (click)="switchProfile()">
          Switch
        </button>
      </div>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!profilePic" class="profile_pic">
    <ion-icon name="contact" (click)="accessGallery()"></ion-icon>
  </div>
  <div *ngIf="profilePic">
    <img class="img-circular" (click)="accessGallery()" [src]=profilePic>
  </div>

  <ion-list no-lines>
    <!--
    Pro Dashboard
    -->
    <div *ngIf="currentProfile && currentProfile.type === 'pro'">
      <div
        *ngIf="tosProgress < 2 || personalInfoProgress < 2 || businessInfoProgress < 2 || bankAccountInfoProgress < 2">

        <p class="center">Profile Completion</p>
        <progress-bar [progress]="loadProgress"></progress-bar>

        <div *ngIf="tosProgress === 2">
          <ion-item>
            <ion-icon name="checkmark-circle" class="complete" item-left></ion-icon>
            <button ion-item disabled (click)="displayTOSForms()">Accept Terms of Service</button>
          </ion-item>
        </div>

        <div *ngIf="tosProgress < 2">
          <ion-item>
            <button ion-item (click)="displayTOSForms()">Accept Terms of Service</button>
          </ion-item>
        </div>

        <div *ngIf="personalInfoProgress === 2">
          <ion-item>
            <ion-icon name="checkmark-circle" class="complete" item-left></ion-icon>
            <button ion-item disabled (click)="displayPersonalInfoForms()">Provide Personal Info</button>
          </ion-item>
        </div>

        <div *ngIf="personalInfoProgress === 1">
          <ion-item>
            <ion-icon name="code-working" class="in-progress" item-left></ion-icon>
            <button ion-item (click)="displayPersonalInfoForms()">Provide Personal Info</button>
          </ion-item>
        </div>

        <div *ngIf="personalInfoProgress === 0 && tosProgress < 2">
          <ion-item>
            <button ion-item disabled (click)="displayPersonalInfoForms()">Provide Personal Info</button>
          </ion-item>
        </div>

        <div *ngIf="personalInfoProgress === 0 && tosProgress === 2">
          <ion-item>
            <button ion-item (click)="displayPersonalInfoForms()">Provide Personal Info</button>
          </ion-item>
        </div>

        <div *ngIf="businessInfoProgress === 2">
          <ion-item>
            <ion-icon name="checkmark-circle" class="complete" item-left></ion-icon>
            <button ion-item disabled (click)="displayBusinessInfoForms()">Provide Business Info</button>
          </ion-item>
        </div>

        <div *ngIf="businessInfoProgress === 1">
          <ion-item>
            <ion-icon name="code-working" class="in-progress" item-left></ion-icon>
            <button ion-item (click)="displayBusinessInfoForms()">Provide Business Info</button>
          </ion-item>
        </div>

        <div *ngIf="businessInfoProgress === 0 && personalInfoProgress < 2">
          <ion-item>
            <button ion-item disabled (click)="displayBusinessInfoForms()">Provide Business Info</button>
          </ion-item>
        </div>

        <div *ngIf="businessInfoProgress === 0 && personalInfoProgress === 2">
          <ion-item>
            <button ion-item (click)="displayBusinessInfoForms()">Provide Business Info</button>
          </ion-item>
        </div>

        <div *ngIf="bankAccountInfoProgress === 2">
          <ion-item>
            <ion-icon name="checkmark-circle" class="complete" item-left></ion-icon>
            <button ion-item disabled (click)="displayBankInfoForms()">Link Bank Account</button>
          </ion-item>
        </div>

        <div *ngIf="bankAccountInfoProgress === 1">
          <ion-item>
            <ion-icon name="code-working" class="in-progress" item-left></ion-icon>
            <button ion-item (click)="displayBankInfoForms()">Link Bank Account</button>
          </ion-item>
        </div>

        <div *ngIf="bankAccountInfoProgress === 0 && businessInfoProgress < 2">
          <ion-item>
            <button ion-item disabled (click)="displayBankInfoForms()">Link Bank Account</button>
          </ion-item>
        </div>

        <div *ngIf="bankAccountInfoProgress === 0 && businessInfoProgress === 2">
          <ion-item>
            <button ion-item (click)="displayBankInfoForms()">Link Bank Account</button>
          </ion-item>
        </div>
      </div>

      <div
        *ngIf="tosProgress === 2 && personalInfoProgress === 2 && businessInfoProgress === 2 && bankAccountInfoProgress === 2">
        <h5 class="center">Check out your stats!</h5>

        <button ion-item (click)="goToPage('transferFunds')">PIYP Account Total: ${{amountInAccount}}</button>
        <button ion-item (click)="goToPage('hiredJobsPro')">Active Jobs: {{activeJobsPro}}</button>
        <button ion-item (click)="goToPage('historicalJobs')">Total Jobs Worked: {{totalJobsWorked}}</button>
        <button ion-item (click)="goToPage('historicalJobs')">Total Amount Made: ${{totalAmountMade}}</button>

        <br><br>
        <ion-list-header>Account Actions</ion-list-header>
        <ion-list no-lines>
          <!--<button ion-item menuClose (click)="switchProfile()">Switch Profile</button>-->
          <div *ngIf="numProfiles < 2">
            <button *ngIf="currentProfileType === 'pro'" menuClose ion-item (click)="setupNewProfile('consumer')">Setup
              Consumer Profile
            </button>
            <button *ngIf="currentProfileType === 'consumer'" menuClose ion-item (click)="setupNewProfile('pro')">Setup
              Pro
              Profile
            </button>
          </div>
          <button menuClose ion-item (click)="pushPage(selectInfoPage)">Review Profile Info</button>
        </ion-list>
      </div>
    </div>

    <!--
    Consumer Dashboard
    -->
    <div *ngIf="currentProfile && currentProfile.type === 'consumer'">
      <div *ngIf="personalInfoProgress < 2 || paymentInfoProgress < 2">

        <p class="center">Profile Completion</p>
        <progress-bar [progress]="loadProgress"></progress-bar>

        <div *ngIf="personalInfoProgress === 2">
          <ion-item>
            <ion-icon name="checkmark-circle" class="complete" item-left></ion-icon>
            <button ion-item disabled (click)="displayPersonalInfoForms()">Provide Personal Info</button>
          </ion-item>
        </div>

        <div *ngIf="personalInfoProgress === 1">
          <ion-item>
            <ion-icon name="code-working" class="in-progress" item-left></ion-icon>
            <button ion-item (click)="displayPersonalInfoForms()">Provide Personal Info</button>
          </ion-item>
        </div>

        <div *ngIf="personalInfoProgress === 0">
          <ion-item>
            <button ion-item (click)="displayPersonalInfoForms()">Provide Personal Info</button>
          </ion-item>
        </div>

        <div *ngIf="paymentInfoProgress === 2">
          <ion-item>
            <ion-icon name="checkmark-circle" class="complete" item-left></ion-icon>
            <button ion-item disabled (click)="displayPaymentInfoForms()">Setup Payment Info</button>
          </ion-item>
        </div>

        <div *ngIf="paymentInfoProgress === 1">
          <ion-item>
            <ion-icon name="code-working" class="in-progress" item-left></ion-icon>
            <button ion-item (click)="displayPaymentInfoForms()">Setup Payment Info</button>
          </ion-item>
        </div>

        <div *ngIf="paymentInfoProgress === 0 && personalInfoProgress < 2">
          <ion-item>
            <button ion-item disabled (click)="displayPaymentInfoForms()">Setup Payment Info</button>
          </ion-item>
        </div>

        <div *ngIf="paymentInfoProgress === 0 && personalInfoProgress === 2">
          <ion-item>
            <button ion-item (click)="displayPaymentInfoForms()">Setup Payment Info</button>
          </ion-item>
        </div>
      </div>

      <div *ngIf="personalInfoProgress === 2 && paymentInfoProgress === 2">
        <h5 class="center">Check out your stats!</h5>

        <button ion-item (click)="goToPage('hiredJobsConsumer')">Open Jobs: {{activeJobsConsumer}}</button>
        <button ion-item (click)="goToPage('historicalJobs')">Total Jobs Completed: {{totalJobsHired}}</button>
        <button ion-item (click)="goToPage('favoritePros')">Favortite Pros: {{favoritePro}}</button>

        <br><br>
        <ion-list-header>Account Actions</ion-list-header>
        <ion-list no-lines>
          <!--<button ion-item menuClose (click)="switchProfile()">Switch Profile</button>-->
          <div *ngIf="numProfiles < 2">
            <button *ngIf="currentProfileType === 'pro'" menuClose ion-item (click)="setupNewProfile('consumer')">Setup
              Consumer Profile
            </button>
            <button *ngIf="currentProfileType === 'consumer'" menuClose ion-item (click)="setupNewProfile('pro')">Setup
              Pro
              Profile
            </button>
          </div>
          <button menuClose ion-item (click)="pushPage(selectInfoPage)">Review Profile Info</button>
        </ion-list>
      </div>
    </div>
  </ion-list>
</ion-content>
