page-profile {
  div.profile_pic {
    font-size: 500%;
    text-align: center;
  }

  .center {
    text-align: center;
  }

  .complete {
    color: #4CD964;
  }

  .in-progress {
    color: #FF9500;
  }
}
