page-profile {
  div.profile_pic {
    font-size: 500%;
    text-align: center;
  }

  .center {
    text-align: center;
  }

  .complete {
    color: #4CD964;
  }

  .in-progress {
    color: #FF9500;
  }

  @media (max-width: 340px) {
    ion-content {
      font-size: 70%;
    }
  }

  .img-circular{
    width: 80px;
    height: 80px;
    margin: auto;
    background-size: cover;
    display: block;
    border-radius: 100px;
  }
}
