<ion-header>
  <ion-navbar>
    <ion-title>
      Bank Account
    </ion-title>
    <ion-buttons end>
      <div class="nav-button-right">
        <button ion-button (click)="updateBank()">
          Update
        </button>
      </div>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="bankAccounts">
    <ion-list>
      <ion-item *ngFor="let bank of bankAccounts">
        <h5>{{bank.bank_name}}</h5>
        <p>xxxxxx{{bank.last4}}</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
