<ion-header>
  <ion-navbar [ngClass]="{'toolbar-pro': currentProfile && currentProfile.type === 'pro', 'toolbar-consumer': currentProfile && currentProfile.type === 'consumer'}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Review
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list-header>Personal Info</ion-list-header>
  <ion-list>
    <button ion-item (click)="pushPage(personalAddressPage)">Personal Address</button>
    <button *ngIf="currentProfile.type === 'consumer'" ion-item (click)="pushPage(phoneNumberPage)">Phone Number</button>
  </ion-list>

  <div *ngIf="currentProfile.type === 'pro'">
    <ion-list-header>Business Info</ion-list-header>
    <ion-list>
      <button ion-item (click)="pushPage(businessTypePage)">Business Type</button>
      <button ion-item (click)="pushPage(businessNamePage)">Business Name</button>
      <button ion-item (click)="pushPage(businessAddressPage)">Business Address</button>
      <button ion-item (click)="pushPage(phoneNumberPage)">Phone Number</button>
      <button ion-item (click)="pushPage(servicesOfferedPage)">Services Offered</button>
    </ion-list>

    <ion-list-header>Bank Info</ion-list-header>
    <ion-list>
      <button ion-item (click)="pushPage(bankAccountsPage)">Bank Accounts</button>
    </ion-list>
  </div>
  <div *ngIf="currentProfile.type === 'consumer'">
    <ion-list-header>Credit Card Info</ion-list-header>
    <ion-list>
      <button ion-item (click)="pushPage(creditCardsPage)">Credit Cards</button>
    </ion-list>
  </div>
</ion-content>
