<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Current Bids
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="selectedJob.bids">
    <h3>Check out your bids!</h3>
    <ion-list>
      <button ion-item *ngFor="let key of keys" (click)="viewBidDetails(bids[key])">
        {{bids[key]._creator.profiles[0].businessAddress.businessName}}: {{bids[key].amount | currency:'USD':true}}
      </button>
    </ion-list>
  </div>
</ion-content>
