<ion-menu swipeEnabled="false" [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item menuClose (click)="switchProfile()">Switch Profile</button>
      <div *ngIf="numProfiles < 2">
        <button *ngIf="currentProfileType === 'pro'" menuClose ion-item (click)="setupNewProfile('consumer')">Setup Consumer Profile</button>
        <button *ngIf="currentProfileType === 'consumer'" menuClose ion-item (click)="setupNewProfile('pro')">Setup Pro Profile</button>
      </div>
      <button menuClose ion-item (click)="pushPage(selectInfoPage)">Review Profile Info</button>
      <button menuClose ion-item>Close Account</button>
    </ion-list>
  </ion-content>
  <ion-footer>
    <button menuClose ion-item (click)="logout()">
      Logout
    </button>
  </ion-footer>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
