<ion-menu *ngIf="currentProfile" swipeEnabled="false" [content]="content">
  <ion-content [ngClass]="{'menu-pro': currentProfile.type === 'pro', 'menu-consumer': currentProfile.type === 'consumer'}">
    <ion-icon menuClose class="top-left" name="settings" (click)="goToPage(settings)"></ion-icon>
    <span menuClose class="top-right" (click)="logout()">Sign out</span>
    <div *ngIf="!profilePic" class="profile_pic" style="font-size: 500%; text-align: center;">
      <ion-icon name="contact"></ion-icon>
    </div>
    <div *ngIf="profilePic">
      <img class="img-circular" [src]=profilePic>
    </div>
    <h5 *ngIf="currentUser" class="center">{{currentUser.firstName}} {{currentUser.lastName}}</h5>
    <div class="center">
      <span *ngIf="currentProfile.type === 'pro'" style="padding: 5px;">Business Card</span>
      <span style="padding: 5px;">Reviews/Ratings</span>
    </div>
    <hr style="border-top: 1px solid white">
    <br>

    <div *ngIf="currentProfile.type === 'pro'">
      <ion-list no-lines>
        <ion-item class="custom-item" menuClose (click)="goToPage(findNewProjects)">
          <ion-icon name="search" item-left></ion-icon>
          Find New Projects
        </ion-item>
        <ion-item class="custom-item" ion-item menuClose (click)="goToPage(bids)">
          <ion-icon name="hammer" item-left></ion-icon>
          Bids
        </ion-item>
        <ion-item class="custom-item" ion-item menuClose (click)="goToPage(projects)">
          <ion-icon name="construct" item-left></ion-icon>
          Projects
        </ion-item>
        <ion-item class="custom-item" ion-item menuClose (click)="goToPage(earnings)">
          <ion-icon name="cash" item-left></ion-icon>
          Earnings
        </ion-item>
        <ion-item *ngIf="numProfiles > 1" class="custom-item" ion-item menuClose (click)="goToPage(account)">
          <ion-icon name="contact" item-left></ion-icon>
          Account
        </ion-item>
      </ion-list>
    </div>
    <div *ngIf="currentProfile.type === 'consumer'">
      <ion-list no-lines>
        <ion-item class="custom-item" ion-item menuClose (click)="goToPage(findAPro)">
          <ion-icon name="search" item-left></ion-icon>
          Find a Pro
        </ion-item>
        <ion-item class="custom-item" ion-item menuClose (click)="goToPage(myProjects)">
          <ion-icon name="construct" item-left></ion-icon>
          My Projects
        </ion-item>
        <ion-item *ngIf="numProfiles > 1" class="custom-item" ion-item menuClose (click)="goToPage(account)">
          <ion-icon name="contact" item-left></ion-icon>
          Account
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
  <ion-footer>
    <ion-item class="custom-item">
      Pro In Your Pocket
    </ion-item>
  </ion-footer>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
