<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item menuClose (click)="switchProfile()">Switch Profile</button>
      <div *ngIf="numProfiles < 2">
        <div *ngIf="currentProfileType === 'pro'">
          <button ion-item>Setup Consumer Profile</button>
        </div>
        <div *ngIf="currentProfileType === 'consumer'">
          <button ion-item>Setup Pro Profile</button>
        </div>
      </div>
      <button ion-item>Personal Info</button>
      <div *ngIf="currentProfileType === 'pro'">
        <button ion-item>Business Info</button>
      </div>
      <div *ngIf="currentProfileType === 'consumer'">
        <button ion-item>Credit Cards</button>
      </div>
      <button ion-item>Close Account</button>
    </ion-list>
  </ion-content>
  <ion-footer>
    <button menuClose ion-item (click)="logout()">
      Logout
    </button>
  </ion-footer>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
