menu-styles {
  .top-left {
    padding-left: 4%;
    padding-top: 2%;
    font-size: 125%;
  }

  .top-right {
    float: right;
    padding-top: 2%;
    padding-right: 5%;
  }

  .img-circular{
    width: 80px;
    height: 80px;
    margin: auto;
    background-size: cover;
    display: block;
    position: relative;
    border-radius: 100px;
    bottom: 7px;
  }

  .menu-pro {
    background: linear-gradient(#18A1F7 , #1957ED);
    color: white;
  }

  .menu-consumer {
    background: linear-gradient(#FF5232 , #FF265A);
    color: white;
  }

  .custom-item {
    background-color: transparent;
    border:none;
    color: white;
  }
}
