page-bid-details {
  .bottom-button {
    padding: $content-padding;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  rating {
    color: #FFC200;
  }

  rating.list-rating * {
    font-size: 25%;
    padding: 0 !important;
  }

  .center-text {
    text-align: center;
  }

  .scrollable-content {
    overflow-y: scroll;
    height: 42%;
  }
}
