page-bid-details {
  .bottom-button {
    padding: $content-padding;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  rating {
    color: #FFC200;
  }

  .center-text {
    text-align: center;
  }
}
