<ion-header>
  <ion-navbar>
    <ion-title>Select a profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!switchProfile">
    <h2>Hi there!</h2>
    <h5>How can we get you started today?</h5>
  </div>
  <div *ngIf="switchProfile">
    <h5>Which profile would you like to use?</h5>
  </div>
  <div class="buttons">
    <button ion-button full (click)="setProfile(0)">Visit my Pro dashboard</button>
    <button ion-button full (click)="setProfile(1)">Visit my Consumer dashboard</button>
  </div>
</ion-content>
