<!--<ion-header>-->
  <!--<ion-navbar>-->
    <!--<ion-title>-->
      <!--Past Jobs-->
    <!--</ion-title>-->
  <!--</ion-navbar>-->
<!--</ion-header>-->

<!--<ion-content padding>-->
  <!--<div *ngIf="jobs">-->
    <!--<ion-list>-->
      <!--<button ion-item *ngFor="let job of jobs" (click)="viewJobDetails(job)">-->
        <!--<div>{{job.request.title}}</div>-->
        <!--&lt;!&ndash;<ion-note class="smaller-size" item-right>{{job.distance}} mi</ion-note>&ndash;&gt;-->
        <!--<p>{{job.request.description}}</p>-->
      <!--</button>-->
    <!--</ion-list>-->
  <!--</div>-->
<!--</ion-content>-->
