<ion-header>
  <ion-navbar>
    <ion-title>Address</ion-title>
    <ion-buttons end>
      <div class="nav-button-right">
        <button ion-button (click)="saveAndQuit()">
          Save
        </button>
      </div>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="formFieldsMissing">
    <br>
    <p class="invalid">Please fill out all form fields carefully</p>
  </div>

  <h5>Great! Now, where do you live?</h5>

  <form #f="ngForm" [formGroup]="addressForm" (ngSubmit)="finishForm()">

    <ion-item>
      <ion-label floating>Address Line 1</ion-label>
    <ion-input type="text" formControlName="addressLine1"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Address Line 2</ion-label>
      <ion-input type="text" formControlName="addressLine2"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>City</ion-label>
      <ion-input type="text" formControlName="city"></ion-input>
    </ion-item>

    <ion-item>
    <ion-label floating>State</ion-label>
    <ion-select formControlName="state">
    <ion-option value="AZ">Arizona</ion-option>
    </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Zip Code</ion-label>
      <ion-input #zip id="zipcode" type="number" formControlName="zipCode"
    (blur)="checkZip(zip.value)"></ion-input>
    </ion-item>
    <div *ngIf="!zipCodeIsValid">
    <p class="invalid">Zip code must be 5 numbers long</p>
    </div>

    <div class="bottom-button">
      <button type="submit" ion-button full>Finish</button>
    </div>
  </form>
</ion-content>
