page-find-a-pro {
  .title {
    font-size: 225%;
    text-align: center;
  }

  .rounded {
    float: right;
    border-radius: 25px !important;
    height: 2% !important;
    padding: 2% 8%;
    font-size: 100%;
    background-color: #FE2347;
  }

  .colored-text {
    color: #FE2347;
  }

  .camera {
    font-size: 350%;
  }

  .plus {
    position: relative;
    bottom: .6em;
  }

  img {
    margin-left: 4px;
    margin-right: 4px;
  }

  .text-input::-moz-placeholder {
    color: #FE2347;
    opacity: .50;
  }

  .text-input:-ms-input-placeholder {
    color: #FE2347;
    opacity: .50;
  }

  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: #FE2347;
    opacity: .50;
  }
}
