<ion-header>
  <ion-navbar>
    <ion-title>Business Type</ion-title>
    <ion-buttons end>
      <div class="nav-button-right">
        <button ion-button (click)="saveAndQuit()">
          Save
        </button>
      </div>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="formFieldsMissing">
    <br>
    <p class="invalid">Please select a business type</p>
  </div>

  <h5>Do you represent a company or do you work alone?</h5>

  <form #f="ngForm" [formGroup]="businessTypeForm" (ngSubmit)="nextForm()">

    <ion-list radio-group formControlName="businessType">
      <ion-item>
        <ion-label>Individual</ion-label>
        <ion-radio value="individual"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Company</ion-label>
        <ion-radio value="company"></ion-radio>
      </ion-item>
    </ion-list>

    <div *ngIf="f.value.businessType === 'company'">
      <p>Are you an authorized representative of your company?</p>
      <ion-item>
        <ion-label>I am</ion-label>
        <ion-checkbox color="primary" formControlName="authorizedRep" (click)="checkAuthority()"></ion-checkbox>
      </ion-item>

      <div *ngIf="!authorizedRep">
        <br>
        <p class="invalid">You need to be an authorized representative</p>
      </div>
    </div>

    <div *ngIf="f.value.businessType === 'individual'">
      <ion-item>
        <ion-label floating>Last 4 digits of SSN</ion-label>
        <ion-input type="number" formControlName="ssnLast4"
                   (blur)="checkSSN()"></ion-input>
      </ion-item>
      <div *ngIf="!ssnIsValid">
        <p class="invalid">We just need 4 digits</p>
      </div>
    </div>

    <div *ngIf="(f.value.businessType === 'company' && f.value.authorizedRep)">
      <ion-item>
        <ion-label floating>Company Name</ion-label>
        <ion-input type="text" formControlName="businessName" (blur)="checkBusinessName()"></ion-input>
      </ion-item>
      <div *ngIf="missingBusinessName">
        <p class="invalid">Please provide a company name</p>
      </div>
    </div>



    <div class="bottom-button">
      <button type="submit" ion-button full>Next: Services</button>
    </div>
  </form>
</ion-content>
