<ion-header>
  <ion-navbar>
    <ion-title>
      Manage Bids
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!jobsWithBids || jobsWithBids.length === 0">
    <h4>You haven't bid on any jobs!.</h4>
    <h5>Head over to the Find Jobs tab to start bidding!</h5>
  </div>

  <div *ngIf="jobsWithBids">
    <ion-list>
      <button ion-item *ngFor="let job of jobsWithBids" (click)="viewJobDetails(job)">{{job.request.title}}</button>
    </ion-list>
  </div>
</ion-content>
