page-sign-up {
  p {
   font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80%;
    position: relative;
    top: -17px;
  }

  .invalid {
    background: #FF4949;
    color: white;
  }

  .async {
    background: #FFFF5C;
  }
}
