<!--<ion-header>-->
  <!--<ion-toolbar>-->
    <!--<ion-title>-->
      <!--Sign Up-->
    <!--</ion-title>-->
    <!--<ion-buttons start>-->
      <!--<button ion-button (click)="dismiss()">-->
        <!--<span ion-text color="primary">Cancel</span>-->
      <!--</button>-->
    <!--</ion-buttons>-->
  <!--</ion-toolbar>-->
<!--</ion-header>-->

<ion-content padding class="pretty-background">

  <ion-list-header>
    Account Information
  </ion-list-header>

  <div *ngIf="loginFieldsMissing">
    <p class="invalid-head">Please fill out all form fields carefully</p>
  </div>

  <form #f="ngForm" [formGroup]="formLoginInformation" (ngSubmit)="signUp()">
    <ion-item>
      <ion-input type="text" placeholder="First Name" formControlName="firstName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Last Name" formControlName="lastName"></ion-input>
    </ion-item>

    <br>

    <ion-item>
      <ion-input #email type="email" placeholder="Email" formControlName="email"></ion-input>
    </ion-item>
    <div *ngIf="!formLoginInformation.controls.email.valid && !formLoginInformation.controls.email.pending &&
                      formLoginInformation.controls.email.dirty && email.value.length > 0 && formLoginInformation.controls.email.hasError('email in use')">
      <p class="invalid">That email has already been used</p>
    </div>
    <div *ngIf="!formLoginInformation.controls.email.valid && !formLoginInformation.controls.email.pending &&
                      formLoginInformation.controls.email.dirty && email.value.length > 0 && formLoginInformation.controls.email.hasError('invalid email') &&
                      formLoginInformation.value.email.includes('@') && formLoginInformation.value.email.includes('.')">
      <p class="invalid">Invalid email address format</p>
    </div>

    <ion-item>
      <ion-input type="password" placeholder="Password" formControlName="password1"
                 (blur)="checkPasswords()"></ion-input>
    </ion-item>
    <div *ngIf="invalidPassword">
      <p class="invalid">Password must contain at least 1 lowercase letter, 1 uppercase letter, 1 digit, and be at
        least
        8 characters</p>
    </div>

    <ion-item>
      <ion-input type="password" placeholder="Confirm Password" formControlName="password2"
                 (blur)="checkPasswords()"></ion-input>
    </ion-item>
    <div *ngIf="!passwordsMatch">
      <p class="invalid">Passwords must match</p>
    </div>

    <br>

    <ion-list-header>
      Account Type
    </ion-list-header>

    <div class="description_heading">
      <p>Pros can search available jobs, make bids, and make money</p>
      <p>Consumers post jobs that need doing, accept bids, and pay for services</p>
    </div>

    <ion-item>
      <ion-label>Pro</ion-label>
      <ion-checkbox id="checkbox_pro" formControlName="checkboxPro"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Consumer</ion-label>
      <ion-checkbox id="checkbox_consumer" formControlName="checkboxConsumer"></ion-checkbox>
    </ion-item>
    <div *ngIf="noAccountTypeSelected">
      <p class="invalid">Must select an account type</p>
    </div>

    <br><br>
    <div>
      <button class="pretty-button" (click)="dismiss()">Cancel</button>
    <button type="submit" class="pretty-button" style="float: right">Sign up</button>
    </div>
  </form>

</ion-content>
