page-sign-up {
  .pretty-background {
    background: linear-gradient(#FF5232 , #FF265A);
    color: white;
  }

  ion-item {
    color: white !important;
    background-color: transparent !important;
  }

  ion-item .item-inner {
    border-bottom-color: white !important;
  }

  ion-list-header {
    color: white !important;
    border-bottom: 1px solid white !important;
    border-top-color: transparent !important;
  }

  .item-md {
    background-color: transparent !important;
  }

  .pretty-button {
    background: transparent;
    color: white;
    font-size: 140%;
  }

  .link {
    color: white;
    font-size: 110%
  }

  .text-input::-moz-placeholder {
    color: white;
    opacity: .50;
  }

  .text-input:-ms-input-placeholder {
    color: white;
    opacity: .50;
  }

  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: white;
    opacity: .50;
  }
}
