page-my-projects {
  .segment-ios .segment-button.segment-activated{
    background-color: #FF999B;
  }

  ion-col {
    padding: 0px !important;
  }

  .job-title {
    color: #FF6F89;
    position: relative;
    left: 2%;
  }

  .faded {
    color: grey;
    font-size: 90%;
  }

  .right-side {
    float: right;
  }

  .left-side {
    position: relative;
    left: 3%;
  }

  .colored-text {
    color: #FE2347;
    text-align: center;
  }

  .text-input::-moz-placeholder {
    color: #FE2347;
    opacity: .50;
  }

  .text-input:-ms-input-placeholder {
    color: #FE2347;
    opacity: .50;
  }

  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: #FE2347;
    opacity: .50;
  }

  .pretty-button {
    background: transparent;
    color: #FE2347;
    font-size: 140%;
    position: absolute;
    bottom: 16px;
    right: 16px;
  }
}
