<ion-header>
  <ion-navbar>
    <ion-title>Services</ion-title>
    <!--<ion-buttons end>-->
      <!--<div class="nav-button-right">-->
        <!--<button ion-button (click)="saveAndQuit()">-->
          <!--Save-->
        <!--</button>-->
      <!--</div>-->
    <!--</ion-buttons>-->
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h5 *ngIf="!edit">Last but not least, what services do you offer?</h5>
  <h5 *ngIf="edit">Do these look correct?</h5>

  <div *ngIf="noServicesSelected">
    <p class="invalid">You need to select at least one service</p>
  </div>

  <div class="page-content">
    <ion-list>
      <ion-item *ngFor="let service of services">
        <ion-label>{{service.name}}</ion-label>
        <ion-checkbox [(ngModel)]="service.checked"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>

  <div class="bottom-button">
    <button *ngIf="!edit" ion-button full (click)="finishForms()">Finish</button>
    <button *ngIf="edit" ion-button full (click)="finishForms()">Update</button>
  </div>
</ion-content>
